* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
.home {
    width: 100vw;
    height: 100vh;
    background-image: url("https://i.pinimg.com/736x/b6/40/d7/b640d7cb7f9b9f6fc0d869012d1b9e79.jpg");
    background-size: 100% 100%;
}

.pageprincipal {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    width: 100%;
}

.logo {
    position: absolute;
    top: 10px;
    left: 20px;
}

.logo img {
    height: 90px;
    width: 90px;
}


.nav {
    display: flex;
    position: absolute;
    top: 50px;
    right: 70px;
    gap: 50px;
    font-size: large;
}

.nav a {
    font-size: x-large;
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: bold;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
}

.pageprincipal h1 {
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: bold;
  font-optical-sizing: auto;
  font-style: normal;
}
.fleche {
    position: absolute;
    bottom: -2px;
    right: 47%;
    transform: translate(50%);
}

.home2 {
    width: 100vw;
    height: 100vh;
    background-color: #283618;
    display: flex;
}

.block1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.totoro {
    width: 500px;
    
}

.aboutme {
    color: white;
    width: 100%;
    height: 33%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aboutme h1 {
    margin-bottom: 5%;
    font-family:serif;
    font-style: italic;
    font-size: xx-large;
}

.aboutme p {
    font-size: large;
    width: 70%;
    font-family: georgia;
}

.formations {
    color: white;
    width: 100%;
    height: 29%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formation {
    display: flex;
  align-items: center;
  gap: 15px;
}

.icontotoro {
    width: 20px;
    height: auto;
}

.minitotoro {
    width: 200px;
    height: auto;
    position: absolute;
    bottom: -944px;
    left: 25%;
    
}


.formations h1 {
    font-family: serif;
    font-style: italic;
    font-size: xx-large;
    margin-bottom: 5%;
}

.formations p {
    margin-bottom: 3%;
    font-size: large;
    font-family: georgia;
}

.experiences {
    color: rgb(0, 0, 0);
    width: 400px;
    height: 400px;
    background-color: #FEFAE0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.experiences h1 {
    font-family: serif;
    font-style: italic;
}

.experiences p {
    font-size: medium;
    font-family: georgia;
}

.experience {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.icon {
    width: 27px;
    height: 27px;
    margin-top: -5%;
}

.centreinteret {
    color: white;
     width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.centreinteret h1 {
    font-family: serif;
    font-style: italic;
    font-size: xx-large;
    margin-bottom: 5%;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.blockicon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconslire img {
    width: 70px;
    height: 70px;
}

.iconscolorier img {
    width: 70px;
    height: 70px;
}

.iconsjeux img {
    width: 70px;
    height: 70px;
}

.iconsvoyage img {
    width: 70px;
    height: 70px;
}

.icons p {
    padding: 20px;
    font-family: Georgia;
    display: flex;
    align-items: center;
}



.home3 {
    width: 100vw;
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/53/8e/a5/538ea53107f3c32d87a5e1be82f6c05b.gif");
    background-size: 100% 100%;
}

.home4 {
    width: 100vw;
    height: 100vh;
    background-color: #283618;
}

svg {
    height: 23rem;
    margin-right: 4rem;
}
#envelope {
    animation: float 2s ease-in-out infinite;
}
#star1, #star2, #star3, #star4, #star5, #star6 {
    animation: blink 1s ease-in-out infinite;
}
#star2 {
    animation-delay: 100ms;
}
#star3 {
    animation-delay: 500ms;
}
#star4 {
    animation-delay: 700ms;
}
#star5 {
    animation-delay: 300ms;
}
#star6 {
    animation-delay: 200ms;
}
@keyframes float {
    0% {
        transform: translateY(0px);
   }
    50% {
        transform: translateY(-20px);
   }
    100% {
        transform: translateY(0px);
   }
}
@keyframes blink {
    0% {
        opacity: 0;
   }
    50% {
        opacity: 0.5;
   }
    100% {
        opacity: 1;
   }
}
.container {
    height: 100vh;
}
form {
    min-width: 25rem;
}
form .title {
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 2.5rem;
}
form .form-control {
    background-color: #f2f6f8;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}
form .form-control.thick {
    height: 3.3rem;
    padding: 0.5rem 3.5rem;
}
form .form-control:focus {
    background-color: #f2f6f8;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}
form .message .form-control {
    padding: 0.5rem 1.8rem;
}
form ::placeholder {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: #838788;
    position: relative;
    left: 0;
}
form input, form textarea {
    font-family: 'Quicksand', sans-serif;
    color: #212529;
    font-size: 1.1rem;
}
form .icon {
    color: #57565c;
    height: 1.3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
}
.btn.btn-primary {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
}
.btn.btn-primary:hover:enabled {
    box-shadow: 0 0.5em 0.5em -0.4em #ff923c ba;
    background-size: 100% 100%;
    transform: translateY(-0.15em);
}


 @media screen and (max-width:767px) {
    .home {
        background-size: cover;
        background-position: center;
    }
    .logo {
        left: 50%;
        transform: translate(-50%);
    }
    .nav {
            top: 100px;
            width: 100%;
            justify-content: space-evenly;
            right: 0;
            gap: 0;
    }
    .pageprincipal {
            bottom: 200px;
            padding: 20px;
    }
    .home2 {
        width: 100vw;
        height: auto;
        background-color: #283618;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .aboutme p {
        width: 78%;
    }

    .formations p {
        width: 230px;
    }
    
    .totoro {
        width: 400px;

    }
    .formations {
        flex-wrap: wrap;
    align-content: center;
    }
    .block1 {
        width: 100%;
    }

    .block2 {
        width: 100%;
        
    }
    .minitotoro {
        width: 99px;
        bottom: -1058px;
        left: 77%;
    }

    .experiences {
        width: 100%;
        height: 300px;
    }

    .aboutme {
    
    }
    .home3 {
        background-size: contain;
    

    }
    svg {
        height: 23rem;
        margin-right: 4rem;
        display: none;
}